{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <h1 class="text-center text-primary-emphasis">LocaRooms</h1>
    <hr>
    <div>
        {% for room in rooms %}
        <div class="card-group w-50 m-auto">
            <div class="card m-4">
                <div class="card-body">
                    <h5 class="card-title">{{room.city}} - {{room.capacity}} personnes</h5>
                    <p class="card-text">{{room.description}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{room.price}} €</small></p>
                    <div>
                        <a href="{{path('one_location', {id : room.id})}}" class="btn btn-success">Voir la salle</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="text-center m-3">
            <a href="{{path('app_locations')}}" class="btn btn-primary">Voir toute les salles</a>
        </div>
</main>
{% endblock %}