{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <h1 class="text-center text-primary-emphasis">LocaRooms</h1>
    <hr>
    <div>
        {% for room in rooms %}
        <div class="card-group w-50 m-auto text-center">
            <div class="card m-4">
                <div class="card-body">
                    {% set counter = ( counter | default(0) ) + 1 %}
                    <img src="assets/img/image{{counter}}.jpg" alt="image{{counter}}" class="w-100">
                    <h5 class="card-title" style="font-size: 30px">{{room.city}} - {{room.capacity}} personnes</h5>
                    <p class="card-text" style="font-size: 25px;">{{room.description}}</p>
                    <p class="card-text"><strong class="text-body-secondary" style="font-size: 20px">{{room.price}}
                            €</strong></p>
                    <div>
                        <a href="{{path('one_location', {id : room.id})}}" class="btn btn-success"
                            style="font-size: 25px">Voir la salle</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="text-center m-3">
            <a href="{{path('app_locations')}}" class="btn btn-primary">Voir toute les salles</a>
        </div>
</main>
{% endblock %}