{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1 class="text-center mt-3">Inscription</h1>

<div class="w-50 m-auto">


    <p>{{ form_start(registrationForm) }}</p>
    <p>{{ form_row(registrationForm.firstname, {label: 'Prénom'}) }}</p>
    <p>{{ form_row(registrationForm.lastname, {label: 'Nom'}) }}</p>
    <p>{{ form_row(registrationForm.phone, {label: 'Téléphone'}) }}</p>
    <p>{{ form_row(registrationForm.email, {label: 'Email'}) }}</p>
    <p>{{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'
        }) }}</p>
    <p>{{ form_row(registrationForm.agreeTerms) }}</p>

    <div class="text-center mb-5">
        <button type="submit" class="btn btn-primary w-50" style="font-size: 25px">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}