{% extends 'base.html.twig' %}

{% block title %}LocalRooms{% endblock %}

{% block body %}
    <h1>LocalRooms</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ local_room.id }}</td>
            </tr>
            <tr>
                <th>RoomCapacity</th>
                <td>{{ local_room.roomCapacity }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ local_room.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ local_room.address }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ local_room.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ local_room.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_local_rooms_index') }}">back to list</a>

    <a href="{{ path('app_local_rooms_edit', {'id': local_room.id}) }}">edit</a>

    {{ include('local_rooms/_delete_form.html.twig') }}
{% endblock %}
