{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
<div>
    {% for room in rooms %}
    <div class="card-group w-50 m-auto text-center">
        <div class="card m-4">
            <div class="card-body">
                {% set counter = ( counter | default(8) ) - 1 %}
                <img src="assets/img/image{{counter}}.jpg" alt="image{{counter}}" class="w-100">
                <h5 class="card-title" style=" font-size: 30px">{{room.city}} - {{room.capacity}} personnes</h5>
                <p class="card-text" style="font-size: 25px;">{{room.description}}</p>
                <p class="card-text" style="font-size: 20px"><strong class="text-body-secondary">{{room.price}}
                        €</strong></p>
                <div>
                    <a class="btn btn-success" href="{{path('one_location', {id: room.id})}}">Voir la salle</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-center m-3">
        <a href="{{path('app_home')}}" class="btn btn-primary">Retourner a l'acceuil</a>
    </div>

    {% endblock %}