{% extends 'base.html.twig' %}

{% block title %}Hello LocationsController!{% endblock %}

{% block body %}
<div>
    {% for room in rooms %}
    <div class="card-group w-50 m-auto">
        <div class="card m-4">
            <div class="card-body">
                <h5 class="card-title">{{room.city}} - {{room.capacity}} personnes</h5>
                <p class="card-text">{{room.description}}</p>
                <p class="card-text"><small class="text-body-secondary">{{room.price}} €</small></p>
                <div>
                    <button class="btn btn-success">Voir toute les salles</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-center m-3">
        <a href="{{path('app_home')}}" class="btn btn-primary">Retourner a l'acceuil</a>
    </div>

    {% endblock %}